*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.footer{
    width: 100%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.89);
background-image: url(https://www.thetradification.com/images/background/4.jpg);
background-position: center;
background-size: cover;
}
.footer #container{
    width: 70%;
    height: 50%;
    position: absolute;
    /* margin-top: 3%; */
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#container .box{
    width: 17%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#container #box1{
width: 29%;
height: 68%;
margin-top: 3%;
}
#container #box4{
    width: 30%;
    height: 65%;
    /* margin-top: 5%; */
}
#container #box2{
    margin-top: -5.8%;
}
#box4 .iconic1{
    width: 20px;
    height: 20px;
    background-color: rgb(9, 136, 132);

}
#box4 .iconic1 i{
    color: black;
    margin-left: 7%;
}
#box4 .iconic2{
    width: 8px;
    height: 18px;
    /* background-color: rgb(9, 136, 132); */
    border: 2px solid rgb(9, 136, 132) ;
    margin-left: 1.5%;

}

#container #box3{
    height: 35%;
    margin-top: -10.8%;
}
#box1 .logo img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 26%;
    margin-top: -7%;
}
#box1 p{
    font-size: 22px;
    font-weight: 600;
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 20px;
    color: white;
    margin-top: -18%;
}
.box a{
    text-decoration: black;
    font-size: 16px;
    color: grey;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;


}
#box2 a:hover{
    border-bottom: 1.5px solid aqua;
    width: 150px;
}
#box3 a:hover{
    border-bottom: 1.5px solid aqua;
    width: 100px;
}
#box4 p{
    margin-left: 15%;
    margin-top: -7%;
}

.box h2{
    font-size: 28px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-weight: 600;

}
#box4 #multi-icon{
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items:start;
}
#multi-icon .iconic{
    width: 50px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.151);
    border-radius: 50%;

}
.iconic i{
    font-size: 28px;
    margin-left: 0.9%;
    position: absolute;
    margin-top: 0.7%;
    color: white;
}
#line1{
    width: 75%;
    height: 0.06%;
    background-color: rgb(89, 88, 88);
    margin-top: 30%;
    position: absolute;
    margin-left: 13%;
}
 .footer h6{
    color: gray;
    font-family: "Plus Jakarta Sans", sans-serif;
    margin-top: 32%;
    position: absolute;
    margin-left: 39%;
    letter-spacing: 1px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

} 
#c{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 32.1%;
    position: absolute;
    margin-left: 37.5%;
    border: 1px solid gray;
} 
 .footer #c p{
    margin-top: -25%;
    margin-left: 19%;
    color: gray;
    font-style: normal;
}


@media (max-width:748px){
    .footer{
        width: 100%;
        height: 220%;
        flex-direction: column;
    }
     .footer #container{
        width: 100%;
        height: 180%;
        margin-left: 0%;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #container #box1{
        width: 100%;
        height: 20%;

    }
    #box1 .logo img{
margin-left: 2%;
margin-top: 5%;
    }
    #box1 p{
        margin-left: 2%;
        padding: 120px ;
        margin-top: -15%;
        margin-left: -10%;
    }

    #container #box2{
        width: 100%;
        height: 20%;
        margin-top: 1%;
    }
    #container #box3{
        width: 100%;
        height: 20%;
        margin-top: 1%
    }
    #container #box4{
        width: 100%;
        height: 20%;
    }
    #box4 a p{
margin-top: -3%;
margin-left: 7%
    }
    #box4 a .iconic1{
        margin-top: 1%;
    }
     #box4 a .iconic2{
        margin-left: 0.50%;
    }
    #multi-icon .iconic{
    width: 45px;
    height: 45px;
}
 #line1{
    margin-top: 200%;
    margin-left: 10%;
}
.footer  h6{
    margin-top:205% ;
    margin-left: 25%;
}
.footer  #c{
    margin-top:205% ;
    margin-left: 22%;

}
.box h2{
    margin-left: 5%;
}
.box a{
    margin-left: 5%;
}
#multi-icon{
    margin-top: 8%;
}
}


@media (max-width:450px){
        .footer{
        width: 100%;
        height: 230%;
        flex-direction: column;
    }
     .footer #container{
        width: 100%;
        height: 180%;
        margin-left: 0%;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

     #container #box1 p{
        margin-left: -24%;
        margin-top: -20%;
    }
   #line1{
    margin-left: 10%;
    margin-top: 360%;
}
.footer  h6{
    margin-top:370%;
    margin-left: 12%;
}
.footer  #c{
    margin-top:370% ;
    margin-left: 7%;

}
.iconic i{
    margin-left: 1.8%;
    margin-top: 1.5%;
}
}


