*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

.login{
    width: 100%;
    height: 100%;
    background-color: brown;
    background-image: url(login\ bg.jpg);
    background-size: cover;
    padding-top: 5%;
}



#form2{
    background-color: white;
    width: 35%;
    height: 70%;
    border-radius: 6px;
    padding: 50px 40px;
    margin-left: 30%;
    margin-top: 5%;
}
#form2 h3{
    font-size: 40px;
    margin-left: 30%;
    margin-top: -5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#form2 form{
    height: 90%;
    width: 95%;
    margin-top: 18px;
}
form label{
    font-size: 20px;
    color: #575757;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#form2 form input{
    width: 100%;
     height: 60px;
 
  margin-bottom: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color:#57575713;
  font-size: 20px;
  color: #575757;
  padding-left: 20px;

}

.login-div{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin-top: 5%;
    font-weight: 500;
    color: #7d8185;
    text-align: center;

}
.login-div a{
    text-decoration: none;
    color: #0b5ed7;
    font-weight: 600;
}


form .btn {
  background-color:#0b5ed7;
  color: white;
  border: none;
     width: 100%;
     height: 40px;
 
  border-radius: 8px;
  cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  font-size: 18px;
}







@media (max-width:768px) {
html,body{
    width: 100%;
    height: 100%;
}

.login{
    width: 100%;
    height: 100%;
}
#form2{
    width: 70%;
    height: 80%;
    margin-left: 16%;
    margin-top: 5%;
}

    
}

@media (max-width:450px){
    html,body{
        width: 100%;
        height: 100%;
    }
    .login{
        width: 100%;
        height: 100%;
      
    }
     .login #form2{
        width: 80%;
        height: 80%;
        margin-left: 10%;
        margin-top: 10%;
       
    }
 
    #form2 h4{
        font-size:24px;
}
}
